
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Comparison between pasive and active investment.                                           -- #
# -- script: requirements.txt : text file with the required libraries for the project                    -- #
# -- author: AraceliCastillo                                                                             -- #
# -- license: GPL-3.0 License                                                                            -- #
# -- repository: https://github.com/AraceliCastillo/myst_if708243_lab1                                   -- #
# -- --------------------------------------------------------------------------------------------------- -- #



numpy >= 1.19.1
pandas >= 1.1.1
jupyter >= 1.0.0
yfinance >= 0.1.54
plotly >= 4.2.0
